<div class="post-meta">

    <span class="meta-list">
        {{ partial "svg/time.svg" . }}
        {{ dateFormat "Jan 2, 2006" .Date }}
    </span>

    <span class="meta-list">
        {{ partial "svg/folder.svg" . }}
        {{ range (.GetTerms "categories") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }},</a>
        {{end}}
    </span>

    <span class="meta-list">
        {{ partial "svg/tag.svg" . }}
        {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }},</a>
        {{end}}
    </span>

</div>
